<legend>
	<h1>
		Recordings <small>(<%= @recordings.count %>)</small>
		<small>
			Order by 
			<%= link_to('name', :order => "name", :search => params[:search])  %>
			/
			<%= link_to('band', :order => "band", :search => params[:search])  %>
			/
			<%= link_to('newest_first', :order => "newest", :search => params[:search])  %>
		</small>
		<a href="<%=new_recording_path%>" class="btn btn-small pull-right"><i class="icon-plus-sign"></i> Create new recording</a>
	</h1>
</legend>
<form class="form-search pull-right">
	<div class="input-append">
	<input type="text" name="search" class="span2 search-query" value="<%= params[:search] %>">
	<button type="submit" class="btn">Search</button>
	</div>
</form>
<% @recordings.each do |recording| %>

<div>
  <%= link_to(recording.single.title, recording_path(recording.single)) %>
  performed by
  <%= link_to(recording.band.name, band_path(recording.band)) %>
</div>
<% end %>