<legend>
	<h1>
		Singles <small>(<%= @singles.count %>)</small>
		<small>
			Order by 
			<%= link_to('name', :order => "name", :search => params[:search])  %>
			/
			<%= link_to('writer', :order => "writer", :search => params[:search])  %>
			/
			<%= link_to('newest_first', :order => "newest", :search => params[:search])  %>
		</small>
		<a href="<%=new_single_path%>" class="btn btn-small pull-right"><i class="icon-plus-sign"></i> Create new single</a>
	</h1>
</legend>
<form class="form-search pull-right">
	<div class="input-append">
	<input type="text" name="search" class="span2 search-query" value="<%= params[:search] %>">
	<button type="submit" class="btn">Search</button>
	</div>
</form>
<% @singles.each do |single| %>

<div>
<%= link_to(single.title, single_path(single)) %>
written by
<%= link_to(single.writer.name, artist_path(single.writer))%>
</div>
<% end %>